################################################################
# Regex Snippets for Julia Language
################################################################
".source.julia":
################################################################
  "Regex literal":
    prefix: "r "
    body: '''
    r"${1:regex}"
    '''
################################################################
  "Regex Start":
    prefix: "r start"
    body: '^'
################################################################
  "Regex End":
    prefix: "r end"
    body: '$'
################################################################
