################################################################
# Snippets for Weave Language
################################################################
'.source.weave.md':
################################################################

  'Hidden Output for Julia code chunk':
    prefix: 'out julia false'
    body: """
    ```{julia; results ="hidden"}
    $1
    ```
    """
################################################################


  'Non Echoed Julia code chunk':
    prefix: 'echo julia false'
    body: """
    ```{julia; echo=false}
    $1
    ```
    """

################################################################

  'Evaluated Julia code chunk':
    prefix: 'eval julia true'
    body: """
    ```{julia; eval=true}
    $1
    ```
    """

################################################################

  'Non-evaluated Julia code chunk':
    prefix: 'eval julia false'
    body: """
    ```{julia; eval=false}
    $1
    ```
    """

################################################################

  'Terminal Julia code chunk':
    prefix: 'term julia'
    body: """
    ```{julia; term=true}
    $1
    ```
    """

################################################################

  'Hold the output for a Block of Julia code chunk':
    prefix: 'hold julia'
    body: """
    ```{julia; hold=true}
    $1
    ```
    """

################################################################

  'Inline Julia Code':
    prefix: 'inline'
    body: """
    `j $1`
    """

################################################################

  'Latex':
    prefix: 'latex'
    body: """
    <!-- @af -->
    \$\$
    $1
    \$\$
    """

################################################################

  'Separator':
    prefix: 'sep'
    body: """
    --------------------------------------------------
    """

################################################################
